@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

*{
  box-sizing: border-box;
}
body{
  background-color: #EEEEEE;
}
.su-miu{
  display: none;
}
::-webkit-scrollbar{
  display: none;
}


/* Style Topo */
.topo{
  position: fixed;
  left: 0px;
  top: 0px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: #CF2B2B;
  width: 100%;
  height: 92px;
  box-shadow: 0px 4px 4px 0px #00000040;
  z-index: 1;
}
.titulo{
  font-size: 44px;
  font-family: 'Righteous', cursive;
  margin-left: 20px;
  color: #FFFFFF;
}
.subtitulo{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-left: 20px;
  color: #FFFFFF;
}
/* Fim Style topo */


.conteudo{
  margin-top:calc(92px + 34px);
  margin-left: 20px;
  margin-bottom: 112px;
}
.secao{
  margin-top: 30px;
  font-size: 26px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  color: #333333;
}
.prato img, 
.bebida img, 
.sobremesa img{
  width: 144px;
  height: 87px;
  border-radius: 4px;
}

/* card */

.card{
  position: relative;
  margin-right: 20px;
}
.card:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
/* Fim do card */

.pratos, 
.bebidas,
.sobremesas{
  display: flex;
  width: 100%;
  height: 216px;
  background-color: #EEEEEE;
  overflow-x: scroll;
  margin-top: 20px;
}

.alinha{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: gray;
  border-radius: 9px;
}
.informacoes{
  width: 87%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 10px;
}

.prato,
.bebida,
.sobremesa{
  height: 100%;
  width: 175px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  border: 5px solid white;
}

/* Informações dos produtos */
.nome-produto{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 5px;
}
.descricao-produto{
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  color:#A6A6A6;
  margin: 10px 0 10px 0;
}
.preco{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 5px;
}
/* Fim das informações dos produtos */

/* Botões, check, checked */
.radio{
  position: absolute;
  right: 13px;
  bottom:12px;
}
.check{
  height: 15px;
  width: 15px;
  position: absolute;
  right: 13px;
  bottom:16px;
  color:#32B72F;
  display:none;
}
.radio:checked ~ .prato, 
.radio:checked ~ .bebida, 
.radio:checked ~ .sobremesa {
  border-color: #32B72F;
}
.radio:checked ~ .prato .check, 
.radio:checked ~ .bebida .check, 
.radio:checked ~ .sobremesa .check{
  display:initial;
}

.radio{
  display: none;
}
/* fim botões, check, checked */


/* Fixed bottom barra */
.barra-fim-fixa{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 91px;
  width: 100vw;
  background-color: #FFFFFF;
  z-index: 1;
}

.texto{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61px;
  width: calc(100vw - 40px);
  border-radius: 50px;
  background-color: #CBCBCB;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  cursor: pointer;
  z-index: 1;
}

.descricao{
  width: 60%;
}
/* Fim barra fixed bottom */


/*  bonus */
.confirmacao-pedido{
  width: calc(100vw - 41px);
  max-width: 950px;
  background-color: #50D074;
  border-radius: 9px;
  position: fixed;
  left: 0;
  right: 0;
  margin: 5% auto;
  bottom: 135px;
}
.aviso{
  margin-top: 25px;
  text-align: center;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
}

.confirmar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 60px);
  height: 52px;
  background-color: #FFFFFF;
  border-radius: 100px;
  margin: 0px auto;
  text-align: center;
  color: #50D074;
  font-size: 22px;
  max-width: 950px;
  cursor: pointer;
}
.cancelar{
  background-color: #50D074;
  font-size: 20px;
  color: #FFFFFF;
  cursor:initial;
}

.cancelar p{
  cursor: pointer;
}

.nome-preco-um,
.nome-preco-dois,
.nome-preco-tres{
  width: 90%;
  display:flex;
  justify-content: space-between;
  font-size: 22px;
  margin: 25px 0px 25px 25px;
  color: #FFFFFF;
}
.itens{
  padding-right: 5%;
}
/* Fim bônus */


.trans{
  opacity: 0.2;
}

/* medias  */
@media (min-width: 600px){
  .nome-preco-um, .nome-preco-dois, .nome-preco-tres {
    width: 94%;
  }
}

@media (min-width: 768px){
  .nome-preco-um, .nome-preco-dois, .nome-preco-tres {
    width: 96%;
  }
}
